@font-face {
    font-family: 'iran-sans';
    src: url('../Fonts/IRANSansWeb_Medium.ttf') format('truetype');
}

body {
    direction: rtl;
    font-family: iran-sans;
}

.slider img {
    height: 500px;
}

.carousel-caption {
    color: black;
}

.card img {
    height: 100%;
}

.buttons {
    text-align: left;
}

.customers-grid
{
    border:thin solid grey;
    border-radius:6px;
}
.grid-title-text {
    font-weight: bold;
    font-size: 24px;
    background-color:white;
    position:relative;
    top:-25px;
    width:fit-content;
    padding:0px 15px;
}
.jadval-khatkhati tr:nth-child(even)
{
    background-color:#f5f5f5;
}
.jadval-khatkhati tr:nth-child(odd) {
    background-color: #fff;
}
.jadval-khatkhati td{
    vertical-align:middle;
}